*1. 클래스의 정의

In [94]:
class Car() :
    
    def __init__(self, id, name) : #생성자 init 은 꼭 써야한다. ※self 는 매개변수 아님, 별다른 의미는 없으므로 해석하는데 신경 쓸 필요없음
        self.id = id
        self.name = name
        
    def my_print(self) :
        print(self.id, self.name)
        
    def get_id(self) :
        return self.id
    
    def get_name(self) :
        return self.name

In [102]:
c1 = Car('5555',' bmw') #객체생성
c2 = Car('4444', 'benz')
c3 = Car('6666','audi')


print(c1.my_print)  

c1.my_print()  #객체 뒤엔 반드시 .을 찍는다 .찍고 함수호출
c2.my_print()
c3.my_print()

print('*'*50)

f = c1.get_id()
f1 = c2.get_id()
print(f)
print(f1)

m = c1.get_name()
m1 = c2.get_name()
m2 = c3.get_name()
print(m, m1, m2)

cars = [c1, c2, c3]

x = cars[0].get_id()
print(x)

print(type(cars[0]))

print(type(c1), type(c2))

print('*'*50)

for x in cars :
    x.get_id()

<bound method Car.my_print of <__main__.Car object at 0x0000023533ED1700>>
5555  bmw
4444 benz
6666 audi
**************************************************
5555
4444
 bmw benz audi
5555
<class '__main__.Car'>
<class '__main__.Car'> <class '__main__.Car'>
**************************************************

In [82]:
class Person() :
    
    def __init__(self, name, age) :
        self.name = name
        self.age = age
        
    def my_print(self) :
        print(self.name, self.age)

In [83]:
p1 = Person('Jenny', 15)
p2 = Person('Rose' , 17)
p3 = Person('Lisa' , 16)

p1.my_print()
p2.my_print()
p3.my_print()

Jenny 15
Rose 17
Lisa 16

In [70]:
class Flower() :
    
    def __init__(self, season, color) :
        self.season = season
        self.color = color
    
    def my_print(self) :
        print(self.season , self.color)

In [76]:
f1 = Flower('spring', 'red')
f2 = Flower('summer', 'yellow')
f3 = Flower('fall', 'orange')

f1.my_print()
f2.my_print()
f3.my_print()

spring red
summer yellow
fall orange

In [156]:
'''
class Student 를 만든다. 
객체 5개를 만든다. (학생)
학생별 항목은 이름 국어 영어 수학
매개변수별 getter 함수를 만든다
총점함수 getter_sum()도 만든다

'''

class Student() :
    
    def __init__(self, name, kor, eng, math) :
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
       
    def get_name(self) :
        return self.name
    def get_kor(self) :
        return self.kor
    def get_eng(self) :
        return self.eng
    def get_math(self) :
        return self.math
    
    def get_sum(self) :
        return self.kor+self.eng+self.math

In [178]:
s1 = Student('Jenny' , 50 , 60 , 70)
s2 = Student('Rose' , 60 , 70 , 90)
s3 = Student('Lisa' , 70 , 90 , 50 )
s4 = Student('Jisu' , 40 , 100 , 80)
s5 = Student('Winter' , 80 , 80 , 60)

w = s1.get_name(); w1 = s1.get_kor() ; w2 = s1.get_eng() ; w3 = s1.get_math()

q = s2.get_name(); q1 = s2.get_kor() ; q2 = s2.get_eng() ; q3 = s2.get_math()

e = s3.get_name(); e1 = s3.get_kor() ;e2 = s3.get_eng() ; e3 = s3.get_math()

r = s4.get_name(); r1 = s4.get_kor() ;r2 = s4.get_eng() ; r3 = s4.get_math()

y = s5.get_name(); y1 = s5.get_kor() ;y2 = s5.get_eng() ; y3 = s5.get_math()

print(w,w1,w2,w3)
print(q,q1,q2,q3)
print(e,e1,e2,e3)
print(r,r1,r2,r3)
print(y,y1,y2,y3)

ws = s1.get_sum()
qs = s2.get_sum()
es = s3.get_sum()
rs = s4.get_sum()
ys = s5.get_sum()


print('\n%s의 점수 : %d점\n%s의 점수 : %d점\n%s의 점수 : %d점\n%s의 점수 : %d점\n%s의 점수 : %d점' %(w,ws,q,qs,e,es,r,rs,y,ys))


idol_list = [s1,s2,s3,s4,s5]

sum_list = []
kor_list = []

for n in idol_list :
    sum_list.append(n.get_sum())
    kor_list.append(n.get_kor())
    
print(kor_list)
print(sum_list)



# sum(sum_list) #sum 함수를 이용함

Jenny 50 60 70
Rose 60 70 90
Lisa 70 90 50
Jisu 40 100 80
Winter 80 80 60

Jenny의 점수 : 180점
Rose의 점수 : 220점
Lisa의 점수 : 210점
Jisu의 점수 : 220점
Winter의 점수 : 220점
[50, 60, 70, 40, 80]
[180, 220, 210, 220, 220]