In [3]:
word = 'thud'
for letter in word :
    print(letter)

t
h
u
d

In [4]:
list = [4,5,6,7,8,9,10]

a = int(input())

print(list[a])

 5

9

In [13]:
for x in range(6) :
     print(x)
     x += 1

0
1
2
3
4
5

In [25]:
# for i in range(1,20,3) :
#     print(i)

for k in range(4,9) :
    k *= 2
    print(k)

8
10
12
14
16

In [ ]:
word = 'thud'

for letter in word :
    if lotter ==

In [83]:
my_fruits = ['딸기', '포도', '바나나']
my_car = ['현대', '기아']

print(my_fruits, type(my_fruits))
print(my_car , type(my_car))

my_fruits.append('사과') 
my_fruits.append('딸기')  # append 는 무조건 뒤에 붙음. 중복값이 허용됨을 알 수 있다
print(my_fruits, type(my_fruits))

my_car.append('르노')
my_car.append('타요버스')
print(my_car, type(my_car))

my_fruits.insert(0, 'orange') # insert는 index 정보를 추가해준다
print(my_fruits)
my_car.insert(3, 'pord')
print(my_car)

print(len(my_fruits))
print(len(my_car))

print(my_fruits[:4])

my_fruits.remove(my_fruits[3])
print(my_fruits)

my_fruits.remove('포도')
print(my_fruits)

# my_fruits. 치고 tab 을 누르면 list 에 적용 가능한 함수가 뜬다
# my_fruits.insert 등을 치고 shift+tab 을 누르면 함수에 대한 설명이 나온다

my_fruits.sort() # 오름차순 정렬
print(my_fruits)

my_fruits.sort(reverse=True) #내림차순 정렬

print(my_fruits)
a = my_fruits.pop(-2) #항목을 얻은 후 삭제하는 함수임
print(a)
print(my_fruits)

my_fruits.reverse()
print(my_fruits)

t = type(my_fruits)
print(t)

['딸기', '포도', '바나나'] <class 'list'>
['현대', '기아'] <class 'list'>
['딸기', '포도', '바나나', '사과', '딸기'] <class 'list'>
['현대', '기아', '르노', '타요버스'] <class 'list'>
['orange', '딸기', '포도', '바나나', '사과', '딸기']
['현대', '기아', '르노', 'pord', '타요버스']
6
5
['orange', '딸기', '포도', '바나나']
['orange', '딸기', '포도', '사과', '딸기']
['orange', '딸기', '사과', '딸기']
['orange', '딸기', '딸기', '사과']
['사과', '딸기', '딸기', 'orange']
딸기
['사과', '딸기', 'orange']
['orange', '딸기', '사과']
<class 'list'>

In [103]:
'''
혼자놀기
'''

print('나는 혼자 여행을 간다\n짐을 뭐를 챙길지 고민이다\n',len(pac),'개만큼만 챙겨보자')
print()


o = input()
p = input()
q = input()
r = input()
s = input()
t = input()

pac = [o, p, q, r, s, t]
print(pac)


print('앗 그런데') ; 
c = int(input())
print('가방에 %d번째로 넣었던 게 뭐더라?' %(c)); print()


print('아 ', pac[c], '였구나\n')


print('뭔가 까먹은 거 같은데')
b = input()

print('헉 큰일날 뻔 했네.',b,'를 빼먹었구나\n')



print(b,'도 집어넣어야겠다. ',pac[c], '자리에 넣어야지\n')

pac.insert(a, b)

print(pac) ; print()

print('그럼 총 짐을 %d개 쌌네' %(len(pac)))

나는 혼자 여행을 간다
짐을 뭐를 챙길지 고민이다
 6 개만큼만 챙겨보자

 d
 d
 d
 d
 d
 d

['d', 'd', 'd', 'd', 'd', 'd']
앗 그런데

 1

가방에 1번째로 넣었던 게 뭐더라?

아  d 였구나

뭔가 까먹은 거 같은데

 이거

헉 큰일날 뻔 했네. 이거 를 빼먹었구나

이거 도 집어넣어야겠다.  d 자리에 넣어야지

['d', '이거', 'd', 'd', 'd', 'd', 'd']

그럼 총 짐을 7개 쌌네

In [2]:
my_car = ()
my_fruits= ('banana', 'grape', 'strawberry', 'apple') #tuple 은 list처럼 수정불가

print(my_car, type(my_car))
print(my_fruits, type(my_fruits))

print(my_fruits[0])

my_fruits = list()
print(type(my_fruits))

# my_fruits_list.append('banana')

# print(my_fruits_list)

() <class 'tuple'>
('banana', 'grape', 'strawberry', 'apple') <class 'tuple'>
banana
<class 'list'>

In [124]:
my_fruits = {}  #dictionary
my_car = set()

my_car.add('bmw')  #중복값이 입력 안된다
my_car.add('bmw')
my_car.add('포드')
my_car.add('benz')

print(my_car, type(my_fruits), type(my_car))
# print(my_car[0]) 순서가 뒤죽박죽이므로 index 접근불가

{'포드', 'bmw', 'benz'} <class 'dict'> <class 'set'>

TypeError: 'set' object is not subscriptable

In [127]:
thisset = {'apple', 'banana', 'grape', 'cherry'}

# thisset.remove('banana')

thisset.discard('banana') # discard = remove

print(thisset)

{'grape', 'cherry', 'apple'}

In [3]:
'''
n명 학생의 점수를 입력하세요 - 5명
모두 리스트에 추가

'5명 점수의 총점은 ooo점입니다'
while 및 for 문 사용가능
'''




#print(score_list)

print('5명의 점수를 입력해주세요')

score_list  = []

i = 0

for i in range(5) :
    
    
    print(i,'번째 사람의 점수:')
    
    
    
    #score_list[i-1] = int(input())


print(score_list) ; print()

sum = 0



for q in score_list :
    sum += q
    avg = sum/5
    
#print(sum)
print('점수의 총합은 %d점이다.' %(sum))
print('점수의 평균은 %d점이다.' %(avg))

5명의 점수를 입력해주세요
0 번째 사람의 점수:
1 번째 사람의 점수:
2 번째 사람의 점수:
3 번째 사람의 점수:
4 번째 사람의 점수:
[]

점수의 총합은 0점이다.

NameError: name 'avg' is not defined

In [ ]:
#print(score_list)

print('5명의 점수를 입력해주세요')

score_list  = []

i = 0

for i in range(5) :
    x = int(input('%d 번째 사람의 점수:' %(i+1)))
    
    score_list.append(x)
print(score_list)
    

sum = 0

for q in score_list :
    sum = sum+q
    
print('5명의 총점은 %d 입니다. ' %sum)

5명의 점수를 입력해주세요

1 번째 사람의 점수: 80
2 번째 사람의 점수: 90
3 번째 사람의 점수: 70
4 번째 사람의 점수: 80
5 번째 사람의 점수: 90

[80, 90, 70, 80, 90]
5명의 총점은 410 입니다.

In [12]:
'''
n명의 점수를 받아 그 총합과 평균을 구하시오
'''

n = int(input('현재 학생은 n명이다. n명의 점수를 리스트화 시키고 합과 평균을 구하시오 \n인원수 :'))

score_list = []


for d in range(n) :
    y  = int(input('%d번째 학생의 점수 : ' %(d+1)))
    
    score_list.append(y)
print(score_list)
    
sum = 0

for k in score_list :
    sum += k
    avg = sum/n

print()
print('총 %d명 학생의 점수 총점은 %d점이다.' %(n,sum)) ;print()
print('학생의 점수 평균은 %d점이다.' %(avg))

print('학생이 추가되었다\n')

score_list.insert(n, int(input("점수 추가 :")))
print(score_list) ; print()

print('한명이 등록을 취소했다\n')

score_list.remove(score_list[n-1])
print(score_list)

현재 학생은 n명이다. n명의 점수를 리스트화 시키고 합과 평균을 구하시오
인원수 : 10
1번째 학생의 점수 :  4

[4]

2번째 학생의 점수 :  6

[4, 6]

3번째 학생의 점수 :  8

[4, 6, 8]

4번째 학생의 점수 :  7

[4, 6, 8, 7]

5번째 학생의 점수 :  9

[4, 6, 8, 7, 9]

6번째 학생의 점수 :  4

[4, 6, 8, 7, 9, 4]

7번째 학생의 점수 :  5

[4, 6, 8, 7, 9, 4, 5]

8번째 학생의 점수 :  6

[4, 6, 8, 7, 9, 4, 5, 6]

9번째 학생의 점수 :  7

[4, 6, 8, 7, 9, 4, 5, 6, 7]

10번째 학생의 점수 :  9

[4, 6, 8, 7, 9, 4, 5, 6, 7, 9]

총 10명 학생의 점수 총점은 65점이다.

학생의 점수 평균은 6점이다.
학생이 추가되었다

점수 추가 : 50

[4, 6, 8, 7, 9, 4, 5, 6, 7, 9, 50]

한명이 등록을 취소했다

[4, 6, 8, 7, 4, 5, 6, 7, 9, 50]

In [264]:
'''
my_dict = {'name' : '한사랑' , 'age' : 22, 'gender' : True}
my_dict2 = dict()

print(my_dict, type(my_dict))
print(my_dict2, type(my_dict2))
'''


my_dict = {'name' : '한사람',
           'age' : 22,
           #'age' : 2,\  key 값은 중복이 안된다
           'address' : '한사람',  #value 값은 중복이 된다
           'gender' : True}

print(my_dict, type(my_dict))
print(len(my_dict))

print('*'*50)

{'name': '한사람', 'age': 22, 'address': '한사람', 'gender': True} <class 'dict'>
4
**************************************************

In [271]:
keys = my_dict.keys()
values = my_dict.values()
items = my_dict.items()

print(keys, type(keys))
print(values, type(values))
print(items, type(items))

name = my_dict.get('name') #name key를 소환
print(name, type(name))

age = my_dict.get('age')
print(age, type(age))

name = my_dict['name']
print(name, type(name))

dict_keys(['name', 'age', 'address', 'gender']) <class 'dict_keys'>
dict_values(['한사람', 22, '한사람', True]) <class 'dict_values'>
dict_items([('name', '한사람'), ('age', 22), ('address', '한사람'), ('gender', True)]) <class 'dict_items'>
한사람 <class 'str'>
22 <class 'int'>
한사람 <class 'str'>

In [277]:
print(my_dict) ; print()

my_dict['age'] = 20
my_dict['addr']  = 'Seoul'

print(my_dict)

{'name': '한사람', 'age': 20, 'address': 'Seoul', 'gender': True, 'addr': 'Seoul'}

{'name': '한사람', 'age': 20, 'address': 'Seoul', 'gender': True, 'addr': 'Seoul'}

In [14]:
person = [
    {
        'name' : 'Heesang',
        'age' : 26,
        'gender' : 'female'},
    
    {'name' : 'Saem', 'age' : 31, 'gender' : 'male'}
    
    
]

print(person, type(person))

print(person[1])
print(len(person))

print('*'*50)

cnt = 0

for i in person :
    print(i.get('name'))
    cnt += 1
    
print(cnt)

[{'name': 'Heesang', 'age': 26, 'gender': 'female'}, {'name': 'Saem', 'age': 31, 'gender': 'male'}] <class 'list'>
{'name': 'Saem', 'age': 31, 'gender': 'male'}
2
**************************************************
Heesang
Saem
2

In [322]:
'''
이름 국어 영어 수학 점수를 input 으로 받아 dict 형식으로 만들고 총점을 구한다.
'''

name = input('이름 : ')
kor = int(input('국어점수 : '))
eng = int(input('영어점수 : '))
math = int(input('수학점수 : '))

dict = {}

dict['name'] = name
dict['kor_score'] = kor
dict['eng_score'] = eng
dict['math_score'] = math

#print(dict)


sum = dict.get('kor_score')+dict['eng_score']+dict.get('math_score')
avg = (kor+eng+math)/3

dict['total'] = sum
dict['avg'] = avg

print(dict)
# print(dict['total'])

print()
print('당신의 이름은 %s입니다.\n당신의 국어점수는 %d입니다.\n당신의 영어점수는 %d입니다.\n당신의 수학점수는 %d입니다.\n당신의 총점은 %d입니다.\n당신의 총점은 %.2f입니다.'
     %(name, kor, eng, math, sum, avg))

이름 :  윤희상
국어점수 :  80
영어점수 :  90
수학점수 :  70

{'name': '윤희상', 'kor_score': 80, 'eng_score': 90, 'math_score': 70, 'total': 240, 'avg': 80.0}

당신의 이름은 윤희상입니다.
당신의 국어점수는 80입니다.
당신의 영어점수는 90입니다.
당신의 수학점수는 70입니다.
당신의 총점은 240입니다.
당신의 총점은 80.00입니다.

In [21]:
######  망한거
'''
n명의 정보를 입력 받아 dict 에 입력하자. 이름 나이 거주지 토익성적

'''

n = int(input("총 인원수 : "))

person = {}

for q in range(n) :
    
    name = input('이름 : ')
    age = int(input('나이 : '))
    add = input('거주지 : ')
    toeic = int(input('토익성적 : '))
    
    dict['name'] = name
    dict['age'] = age
    dict['add'] = add
    dict['toeic'] = toeic

    print(dict)
    

'type' object does not support item assignment

총 인원수 :  4
이름 :  5
나이 :  6
거주지 :  8
토익성적 :  7

TypeError: 'type' object does not support item assignment

In [339]:
'''
x명의 점수를 받아 리스트화 시키고 그 총합과 평균을 구하시오
'''

x = int(input('총 응시자 수 :')) ; print()

tester = []

for y in range(x) :   #0-x까지의 범위에서 y번 반복
    z = int(input('%d번째 학생의 점수 :' %(y+1)))
    
    tester.append(z)

   
print(tester)


q = 0

sum = 0

for q in tester :
    sum += q

avg = sum/x

print()
print('%d명 학생의 총점은 %d점이다' %(x,sum))
print('점수의 평균은 %.3f이다.' %(avg)) ; print()

print('새로운 학생 추가')
a = int(input())
print('%d명의 점수가 추가되었다.'%a)

총 응시자 수 : 2

1번째 학생의 점수 : 60
2번째 학생의 점수 : 70

[60, 70]

2명 학생의 총점은 130점이다
점수의 평균은 65.000이다.

새로운 학생 추가

 2

2명의 점수가 추가되었다.