In [2]:
import pandas as pd
import numpy as np

In [21]:
price_2015 = pd.read_csv("data/연립다세대(매매)__실거래가_20220111113539.csv"  ,  encoding='cp949' , thousands=',' )
# ParserError: Error tokenizing data. C error: Expected 5 fields in line 3, saw 6  error 방지용으로 sep='\t' 삽입했음


# price_2015.drop(columns= ['거래유형','중개사소재지','해제사유발생일','도로명','건축년도','번지'] , inplace = True)
price_2015c = price_2015


bins = [price_2015c['전용면적(㎡)'].min(), 66.11, 99.16 , 132.22 , price_2015c['전용면적(㎡)'].max()]   #bins는 min 과 max 사이에 준 임의의 값임 . 칼로리를 평균값 기준으로 high low
                           
price_2015c['평수']  = pd.cut(price_2015c['전용면적(㎡)'] , bins=bins, labels = ['~ 20평', '20평대' , '30평대' , '40평 ~'])
price_2015c


under_20_2015 = price_2015c.loc[price_2015c['평수'] == '~ 20평']
under_30_2015 = price_2015c.loc[price_2015c['평수'] == '20평대']
under_40_2015 = price_2015c.loc[price_2015c['평수'] == '30평대']
upper_40_2015 = price_2015c.loc[price_2015c['평수'] == '40평 ~']

un_20 = under_20_2015['전용면적(㎡)'].mean()
un_30 = under_30_2015['전용면적(㎡)'].mean()
un_40 = under_40_2015['전용면적(㎡)'].mean()
up_40 = upper_40_2015['전용면적(㎡)'].mean()


avg_un_20_2015 = int((under_20_2015['거래금액(만원)'].mean()/un_20)*10000)
avg_un_30_2015 = int((under_30_2015['거래금액(만원)'].mean()/un_30)*10000)
avg_un_40_2015 = int((under_40_2015['거래금액(만원)'].mean()/un_40)*10000)
avg_up_40_2015 = int((upper_40_2015['거래금액(만원)'].mean()/up_40)*10000)






print('~ 20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_20_2015, ',d'),'원/㎡')
print('20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_30_2015, ',d'),'원/㎡')
print('30평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_40_2015, ',d'),'원/㎡')
print('40평 형대 ㎡ 당 평균 거래가는 ',format(avg_up_40_2015, ',d'),'원/㎡')

~ 20평 형대 ㎡ 당 평균 거래가는  3,436,312 원/㎡
20평 형대 ㎡ 당 평균 거래가는  3,153,949 원/㎡
30평 형대 ㎡ 당 평균 거래가는  4,102,465 원/㎡
40평 형대 ㎡ 당 평균 거래가는  4,258,893 원/㎡

In [19]:
price_2016 = pd.read_csv("data/연립다세대(매매)__실거래가_20220111113604.csv"  ,  encoding='cp949' , thousands=',' )
# ParserError: Error tokenizing data. C error: Expected 5 fields in line 3, saw 6  error 방지용으로 sep='\t' 삽입했음

price_2016c = price_2016


bins = [price_2016c['전용면적(㎡)'].min(), 66.11, 99.16 , 132.22 , price_2016c['전용면적(㎡)'].max()]   #bins는 min 과 max 사이에 준 임의의 값임 . 칼로리를 평균값 기준으로 high low
                           
price_2016c['평수']  = pd.cut(price_2016c['전용면적(㎡)'] , bins=bins, labels = ['~ 20평', '20평대' , '30평대' , '40평 ~'])
price_2016c


under_20_2016 = price_2016c.loc[price_2016c['평수'] == '~ 20평']
under_30_2016 = price_2016c.loc[price_2016c['평수'] == '20평대']
under_40_2016 = price_2016c.loc[price_2016c['평수'] == '30평대']
upper_40_2016 = price_2016c.loc[price_2016c['평수'] == '40평 ~']

un_20 = under_20_2016['전용면적(㎡)'].mean()
un_30 = under_30_2016['전용면적(㎡)'].mean()
un_40 = under_40_2016['전용면적(㎡)'].mean()
up_40 = upper_40_2016['전용면적(㎡)'].mean()


avg_un_20_2016 = int((under_20_2016['거래금액(만원)'].mean()/un_20)*10000)
avg_un_30_2016 = int((under_30_2016['거래금액(만원)'].mean()/un_30)*10000)
avg_un_40_2016 = int((under_40_2016['거래금액(만원)'].mean()/un_40)*10000)
avg_up_40_2016 = int((upper_40_2016['거래금액(만원)'].mean()/up_40)*10000)






print('~ 20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_20_2016, ',d'),'원/㎡')
print('20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_30_2016, ',d'),'원/㎡')
print('30평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_40_2016, ',d'),'원/㎡')
print('40평 형대 ㎡ 당 평균 거래가는 ',format(avg_up_40_2016, ',d'),'원/㎡')

~ 20평 형대 ㎡ 당 평균 거래가는  3,450,954 원/㎡
20평 형대 ㎡ 당 평균 거래가는  3,292,962 원/㎡
30평 형대 ㎡ 당 평균 거래가는  4,386,048 원/㎡
40평 형대 ㎡ 당 평균 거래가는  5,156,765 원/㎡

In [23]:
price_2017 = pd.read_csv("data/연립다세대(매매)__실거래가_20220111113618.csv"  ,  encoding='cp949' , thousands=',' )
# ParserError: Error tokenizing data. C error: Expected 5 fields in line 3, saw 6  error 방지용으로 sep='\t' 삽입했음

price_2017c = price_2017


bins = [price_2017c['전용면적(㎡)'].min(), 66.11, 99.16 , 132.22 , price_2017c['전용면적(㎡)'].max()]   #bins는 min 과 max 사이에 준 임의의 값임 . 칼로리를 평균값 기준으로 high low
                           
price_2017c['평수']  = pd.cut(price_2017c['전용면적(㎡)'] , bins=bins, labels = ['~ 20평', '20평대' , '30평대' , '40평 ~'])
price_2017c


under_20_2017 = price_2017c.loc[price_2017c['평수'] == '~ 20평']
under_30_2017 = price_2017c.loc[price_2017c['평수'] == '20평대']
under_40_2017 = price_2017c.loc[price_2017c['평수'] == '30평대']
upper_40_2017 = price_2017c.loc[price_2017c['평수'] == '40평 ~']

un_20 = under_20_2017['전용면적(㎡)'].mean()
un_30 = under_30_2017['전용면적(㎡)'].mean()
un_40 = under_40_2017['전용면적(㎡)'].mean()
up_40 = upper_40_2017['전용면적(㎡)'].mean()


avg_un_20_2017 = int((under_20_2017['거래금액(만원)'].mean()/un_20)*10000)
avg_un_30_2017 = int((under_30_2017['거래금액(만원)'].mean()/un_30)*10000)
avg_un_40_2017 = int((under_40_2017['거래금액(만원)'].mean()/un_40)*10000)
avg_up_40_2017 = int((upper_40_2017['거래금액(만원)'].mean()/up_40)*10000)






print('~ 20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_20_2017, ',d'),'원/㎡')
print('20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_30_2017, ',d'),'원/㎡')
print('30평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_40_2017, ',d'),'원/㎡')
print('40평 형대 ㎡ 당 평균 거래가는 ',format(avg_up_40_2017, ',d'),'원/㎡')

~ 20평 형대 ㎡ 당 평균 거래가는  3,682,059 원/㎡
20평 형대 ㎡ 당 평균 거래가는  3,353,840 원/㎡
30평 형대 ㎡ 당 평균 거래가는  4,085,604 원/㎡
40평 형대 ㎡ 당 평균 거래가는  4,698,863 원/㎡

In [38]:
price_2018 = pd.read_csv("data/연립다세대(매매)__실거래가_20220111113628.csv"  ,  encoding='cp949' , thousands=',' )
# ParserError: Error tokenizing data. C error: Expected 5 fields in line 3, saw 6  error 방지용으로 sep='\t' 삽입했음

price_2018c = price_2018


bins = [price_2018c['전용면적(㎡)'].min(), 66.11, 99.16 , 132.22 , price_2018c['전용면적(㎡)'].max()]   #bins는 min 과 max 사이에 준 임의의 값임 . 칼로리를 평균값 기준으로 high low
                           
price_2018c['평수']  = pd.cut(price_2018c['전용면적(㎡)'] , bins=bins, labels = ['~ 20평', '20평대' , '30평대' , '40평 ~'])
price_2018c


# for col in price_2018c.columns :
#     if titanic[col].dtypes == 'object' :
#         print(col)



under_20_2018 = price_2018c.loc[price_2018c['평수'] == '~ 20평']
under_30_2018 = price_2018c.loc[price_2018c['평수'] == '20평대']
under_40_2018 = price_2018c.loc[price_2018c['평수'] == '30평대']
upper_40_2018 = price_2018c.loc[price_2018c['평수'] == '40평 ~']

un_20 = under_20_2018['전용면적(㎡)'].mean()
un_30 = under_30_2018['전용면적(㎡)'].mean()
un_40 = under_40_2018['전용면적(㎡)'].mean()
up_40 = upper_40_2018['전용면적(㎡)'].mean()


avg_un_20_2018 = int((under_20_2018['거래금액(만원)'].mean()/un_20)*10000)
avg_un_30_2018 = int((under_30_2018['거래금액(만원)'].mean()/un_30)*10000)
avg_un_40_2018 = int((under_40_2018['거래금액(만원)'].mean()/un_40)*10000)
avg_up_40_2018 = int((upper_40_2018['거래금액(만원)'].mean()/up_40)*10000)






print('~ 20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_20_2018, ',d'),'원/㎡')
print('20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_30_2018, ',d'),'원/㎡')
print('30평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_40_2018, ',d'),'원/㎡')
print('40평 형대 ㎡ 당 평균 거래가는 ',format(avg_up_40_2018, ',d'),'원/㎡')

price_2018c

~ 20평 형대 ㎡ 당 평균 거래가는  3,905,497 원/㎡
20평 형대 ㎡ 당 평균 거래가는  3,637,920 원/㎡
30평 형대 ㎡ 당 평균 거래가는  7,230,602 원/㎡
40평 형대 ㎡ 당 평균 거래가는  5,240,819 원/㎡

,시군구,번지,본번,부번,건물명,전용면적(㎡),대지권면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,평수
0,서울특별시 노원구 공릉동,270-55,270,55,(270-55),23.99,14.63,201810,11,8500,3,2004,노원로1라길 4,NaN,-,-,~ 20평
1,서울특별시 노원구 공릉동,270-56,270,56,(270-56),26.03,15.54,201803,19,8000,2,2003,노원로1라길 2,NaN,-,-,~ 20평
2,서울특별시 노원구 공릉동,503-22,503,22,(503-22),39.84,24.30,201803,6,11500,2,2003,동일로186길 53-24,NaN,-,-,~ 20평
3,서울특별시 노원구 공릉동,503-22,503,22,(503-22),133.68,81.55,201803,6,29500,3,2003,동일로186길 53-24,NaN,-,-,40평 ~
4,서울특별시 노원구 공릉동,503-22,503,22,(503-22),45.93,28.02,201803,6,11500,1,2003,동일로186길 53-24,NaN,-,-,~ 20평
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,서울특별시 노원구 하계동,285,285,0,한신코아,101.99,100.64,201809,7,69000,2,1994,노원로15길 51-10,NaN,-,-,30평대
993,서울특별시 노원구 하계동,285,285,0,한신코아,101.99,100.64,201809,13,70000,1,1994,노원로15길 51-10,NaN,-,-,30평대
994,서울특별시 노원구 하계동,285,285,0,한신코아,134.82,133.03,201810,4,75000,3,1994,노원로15길 52,NaN,-,-,40평 ~
995,서울특별시 노원구 하계동,285,285,0,한신코아,101.99,100.64,201812,1,69000,1,1994,노원로15길 51-10,NaN,-,-,30평대
996,서울특별시 노원구 하계동,70-25,70,25,현대하이츠,65.41,39.10,201812,13,16600,1,2003,공릉로58라길 26,NaN,-,-,~ 20평

In [ ]:
price_2015 = pd.read_csv("data/연립다세대(매매)__실거래가_20220111113539.csv"  ,  encoding='cp949' , thousands=',' )
# ParserError: Error tokenizing data. C error: Expected 5 fields in line 3, saw 6  error 방지용으로 sep='\t' 삽입했음


price_2015.drop(columns= ['거래유형','중개사소재지','해제사유발생일','도로명','건축년도','번지'] , inplace = True)
price_2015c = price_2015


bins = [price_2015c['전용면적(㎡)'].min(), 66.11, 99.16 , 132.22 , price_2015c['전용면적(㎡)'].max()]   #bins는 min 과 max 사이에 준 임의의 값임 . 칼로리를 평균값 기준으로 high low
                           
price_2015c['평수']  = pd.cut(price_2015c['전용면적(㎡)'] , bins=bins, labels = ['~ 20평', '20평대' , '30평대' , '40평 ~'])
price_2015c


under_20_2015 = price_2015c.loc[price_2015c['평수'] == '~ 20평']
under_30_2015 = price_2015c.loc[price_2015c['평수'] == '20평대']
under_40_2015 = price_2015c.loc[price_2015c['평수'] == '30평대']
upper_40_2015 = price_2015c.loc[price_2015c['평수'] == '40평 ~']

un_20 = under_20_2015['전용면적(㎡)'].mean()
un_30 = under_30_2015['전용면적(㎡)'].mean()
un_40 = under_40_2015['전용면적(㎡)'].mean()
up_40 = upper_40_2015['전용면적(㎡)'].mean()


avg_un_20_2015 = int((under_20_2015['거래금액(만원)'].mean()/un_20)*10000)
avg_un_30_2015 = int((under_30_2015['거래금액(만원)'].mean()/un_30)*10000)
avg_un_40_2015 = int((under_40_2015['거래금액(만원)'].mean()/un_40)*10000)
avg_up_40_2015 = int((upper_40_2015['거래금액(만원)'].mean()/up_40)*10000)






print('~ 20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_20_2015, ',d'),'원/㎡')
print('20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_30_2015, ',d'),'원/㎡')
print('30평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_40_2015, ',d'),'원/㎡')
print('40평 형대 ㎡ 당 평균 거래가는 ',format(avg_up_40_2015, ',d'),'원/㎡')

In [ ]:
price_2015 = pd.read_csv("data/연립다세대(매매)__실거래가_20220111113539.csv"  ,  encoding='cp949' , thousands=',' )
# ParserError: Error tokenizing data. C error: Expected 5 fields in line 3, saw 6  error 방지용으로 sep='\t' 삽입했음


price_2015.drop(columns= ['거래유형','중개사소재지','해제사유발생일','도로명','건축년도','번지'] , inplace = True)
price_2015c = price_2015


bins = [price_2015c['전용면적(㎡)'].min(), 66.11, 99.16 , 132.22 , price_2015c['전용면적(㎡)'].max()]   #bins는 min 과 max 사이에 준 임의의 값임 . 칼로리를 평균값 기준으로 high low
                           
price_2015c['평수']  = pd.cut(price_2015c['전용면적(㎡)'] , bins=bins, labels = ['~ 20평', '20평대' , '30평대' , '40평 ~'])
price_2015c


under_20_2015 = price_2015c.loc[price_2015c['평수'] == '~ 20평']
under_30_2015 = price_2015c.loc[price_2015c['평수'] == '20평대']
under_40_2015 = price_2015c.loc[price_2015c['평수'] == '30평대']
upper_40_2015 = price_2015c.loc[price_2015c['평수'] == '40평 ~']

un_20 = under_20_2015['전용면적(㎡)'].mean()
un_30 = under_30_2015['전용면적(㎡)'].mean()
un_40 = under_40_2015['전용면적(㎡)'].mean()
up_40 = upper_40_2015['전용면적(㎡)'].mean()


avg_un_20_2015 = int((under_20_2015['거래금액(만원)'].mean()/un_20)*10000)
avg_un_30_2015 = int((under_30_2015['거래금액(만원)'].mean()/un_30)*10000)
avg_un_40_2015 = int((under_40_2015['거래금액(만원)'].mean()/un_40)*10000)
avg_up_40_2015 = int((upper_40_2015['거래금액(만원)'].mean()/up_40)*10000)






print('~ 20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_20_2015, ',d'),'원/㎡')
print('20평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_30_2015, ',d'),'원/㎡')
print('30평 형대 ㎡ 당 평균 거래가는 ',format(avg_un_40_2015, ',d'),'원/㎡')
print('40평 형대 ㎡ 당 평균 거래가는 ',format(avg_up_40_2015, ',d'),'원/㎡')